<footer class="footer">
	<div class="footer_inner">

		{{ partial "svg/logo-light" . }}
		
		<div class="footer_inner_social">
			<a href="https://www.facebook.com/AmaizFinance">
				{{ partial "svg/icon-fb" . }}
			</a>
			<a href="https://www.twitter.com/AmaizFinance">
				{{ partial "svg/icon-tw" . }}
			</a>
			<a href="https://www.linkedin.com/company/18029825">
				{{ partial "svg/icon-in" . }}
			</a>
			<a href="https://www.instagram.com/amaiz_finance">
				{{ partial "svg/icon-inst" . }}
			</a>
		</div>
		<ul class="footer_inner_nav">
			<li><a href="/about/">About</a></li>
			<li><a href="/contacts/">Contacts</a></li>
			<li><a href="/careers/">Careers</a></li>
			<li><a href="/privacy-policy/">Privacy & Cookie Policy</a></li>
		</ul>
		<p>© 2018 Amaiz. All rights reserved.</p>
		<p>Amaiz Limited (No. 10977384) and Amaiz Wealth Limited (No. 11031977) are companies registered in England and Wales at 2 Leman Street, London E18FA.</p>
	</div>
</footer>