<div itemscope="itemscope" itemtype="https://schema.org/Organization" style="display:none;">
    <meta itemprop="name" content="Amaiz Ltd" />
    <link itemprop="url" href="https://amaiz.com" />
    <link itemprop="logo" href="https://amaiz.com/img/other/amaiz-logotype.png" />
    <meta itemprop="description" content="Amaiz provides simple, smart and secure mobile banking experience. Free mobile-based payment account and Mastercard prepaid debit card." />
    <meta itemprop="email" content="hello@amaiz.com" />
    <div itemprop="address" itemscope="itemscope" itemtype="https://schema.org/PostalAddress">
        <meta itemprop="addressLocality" content="United Kingdom, England" />
        <meta itemprop="postalCode" content="E18FA" />
        <meta itemprop="streetAddress" content="2 Leman street" />
    </div>
    <meta itemprop="telephone" content="+442039500461" />
    <link itemprop="sameAs" href="https://facebook.com/AmaizFinance" />
    <link itemprop="sameAs" href="https://vk.com/amaizteam" />
    <link itemprop="sameAs" href="https://twitter.com/AmaizFinance" />
    <link itemprop="sameAs" href="https://www.instagram.com/amaiz_finance" />
    <meta itemprop="founder" content="Sergey Dobrovolskiy" />
    <meta itemprop="foundingDate" content="01/02/2017" />
    <meta itemprop="brand" content="Amaiz" />
</div>