{{ define "main" }}

	<div class="fixed">
		<div class="fixed_bg fixed_bg1"></div>
		<div class="fixed_bg fixed_bg2"></div>
		<div class="fixed_bg fixed_bg3"></div>
		<div class="fixed_bg fixed_bg4"></div>
		<div class="fixed_bg fixed_bg5"></div>
	</div>
	<div class="intro-img"></div>
	<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" itemprop="item">Home</a>
			<meta itemprop="position" content="1">
		</li><span class="breadcrumbs_separator"></span>
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="item">About</span>
			<meta itemprop="position" content="2">
		</li>
	</ul>
	<div class="content">
		<h1>About us</h1>
		<div class="quote"><img class="quote_avatar" src="/img/leaders/sergey-dobrovolskiy.jpg" alt="Sergey Dobrovolskiy">
			<div class="quote_content">
				<div class="quote_content_text">We believe the banking experience has to be personalised.</div>
				<div class="quote_content_name">Sergey Dobrovolskiy</div>
				<div class="quote_content_position">Founder &amp; CEO Amaiz Group</div>
			</div>
		</div>
		<h2>Our core values at heart</h2>
		<p>For the last couple of centuries, traditional banks haven’t evolved very much, even though we live in a time of a great innovation. It’s time to think outside the box and imagine what the future of banking may look like.</p>
		<p>We believe it will be mobile. We believe it will be transparent and secure. We believe it will be much more affordable. We believe it will be personalised and user-friendly. We believe it will be technological, yet very simple. And it’s coming into our lives super-fast.</p>
	</div><img class="img-office img-office2" src="/img/gallery/office2.jpg" alt="Amaiz core values">
	<div class="content">
		<h3>Simplicity</h3>
		<p>We have focused on making the most intuitive user experience on our banking app, which anticipates people’s goals and guides them by hand, only offering people the relevant tools and content. When talking about banking services we never hide simple things behind special lingo, we use only layman terms which are easily understood by everyone.</p>
		<p>Our goal is to give people a clear view of their finances with our powerful and easy-to-use banking app so that they understand how to manage their money more efficiently and profit from it in their everyday life.</p>
	</div><img class="img-office img-office3" src="/img/gallery/office3.jpg" alt="Simplicity">
	<div class="content">
		<h3>Transparency</h3>
		<p>We always inform our customers what they are paying for and the risks involved before they pay for any service.</p>
		<p>Our products never rely on hidden commissions, payments or rules written in the small print.</p>
	</div><img class="img-office img-office4" src="/img/gallery/office4.jpg" alt="Transparency">
	<div class="content">
		<h3>Security & stability</h3>
		<p>We comply with the industry standards like GDPR and PCI DSS as well as strive to set new standards in terms of financial and informational security. We intelligently prevent card fraud before it happens. For the safety of our customers, funds are stored in a widely trusted bank partner.</p>
	</div><img class="img-office img-office5" src="/img/gallery/office5.jpg" alt="Security &amp; stability">
	<div class="content">
		<h3>User-friendliness</h3>
		<p>We have made a service that resonates with people and their human nature. We are always available via support channels in a warm and friendly manner, should our customers require us. We always listen to our customers and are keen to act upon their feedback which has helped us to develop the best product and banking experience possible.</p>
	</div>
	<div class="content">
		<h3>Enjoyment</h3>
		<p>We aim to make people’s everyday banking experience simple and light-hearted and we have fun doing it.</p>
	</div>
	<div class="content">
		<h2 class="leaders-title">Meet our leaders</h2>
		<div class="leaders">
			<div class="leader"><img src="/img/leaders/sergey-dobrovolskiy.jpg" alt="Sergey Dobrovolskiy"><span class="leader-name">Sergey Dobrovolskiy</span><span class="leader-position">Founder & CEO Amaiz Group</span></div>
			<div class="leader"><img src="/img/leaders/thomas-smith.jpg" alt="Thomas Melliar-Smith"><span class="leader-name">Thomas Melliar-Smith</span><span class="leader-position">Compliance & MLRO <br>Executive Director</span></div>
			<div class="leader"><img src="/img/leaders/steve-taklalsingh.jpg" alt="Steve Taklalsingh"><span class="leader-name">Steve Taklalsingh</span><span class="leader-position">CFO / Managing Director</span></div>
			<div class="leader"><img src="/img/leaders/andrey-tsvetkov.jpg" alt="Andrey Tsvetkov"><span class="leader-name">Andrey Tsvetkov</span><span class="leader-position">Chief Technology Officer</span></div>
			<div class="leader"><img src="/img/leaders/vladimir-novikov.jpg" alt="Vladimir Novikov"><span class="leader-name">Vladimir Novikov</span><span class="leader-position">Chief Product Officer</span></div>
			<div class="leader"><img src="/img/leaders/maria-levkina.jpg" alt="Maria Levkina"><span class="leader-name">Maria Levkina</span><span class="leader-position">Chief Marketing Officer</span></div>
			<div class="leader hide"><img src="/img/leaders/maria-lavrova.jpg" alt="Maria Lavrova"><span class="leader-name">Maria Lavrova</span><span class="leader-position">Chief Financial Officer</span></div>
			<div class="leader hide"><img src="/img/leaders/roman-zaytsev.jpg" alt="Roman Zaytsev"><span class="leader-name">Roman Zaytsev</span><span class="leader-position">Business Dev. Officer</span></div>
			<div class="leader hide"><img src="/img/leaders/dmitry-yanchenko.jpg" alt="Dmitry Yanchenko"><span class="leader-name">Dmitry Yanchenko</span><span class="leader-position">Chief Information Security Officer</span></div>
			<div class="leader hide"><img src="/img/leaders/elena-miller.jpg" alt="Elena Miller"><span class="leader-name">Elena Miller</span><span class="leader-position">Head of HR</span></div>
			<div class="leader hide"><img src="/img/leaders/valentin-spitsyn.jpg" alt="Valentin Spitsyn"><span class="leader-name">Valentin Spitsyn</span><span class="leader-position">Head of Design</span></div>
			<div class="leader hide"><img src="/img/leaders/sergey-churikov.jpg" alt="Sergey Churikov"><span class="leader-name">Sergey Churikov</span><span class="leader-position">Lead Solution Architect</span></div>
			<div class="leader hide"><img src="/img/leaders/dmitry-samsyko.jpg" alt="Dmitry Samsyko"><span class="leader-name">Dmitry Samsyko</span><span class="leader-position">Lead Backend Developer</span></div>
			<div class="leader hide"><img src="/img/leaders/alexey-ushakov.jpg" alt="Alexey Ushakov"><span class="leader-name">Alexey Ushakov</span><span class="leader-position">Lead iOS Developer</span></div>
			<div class="leader hide"><img src="/img/leaders/mikhail-ginev.jpg" alt="Mikhail Ginev"><span class="leader-name">Mikhail Ginev</span><span class="leader-position">Lead Android Developer</span></div>
			<div class="btn_viewall">View all</div>
		</div>
	</div>
	<div class="content">
		<p>Amaiz's core team have been working together for many years now and have several successful projects under their belt, but it's an extremely exciting challenge for all of us to start a new modern bank.</p>
		<p>Our team is the biggest asset that we have. They all are the best specialists in their fields. Caring and deep respect to one another are core within our company's culture. Together we are trying to create something meaningful that will become much bigger than ourselves.</p>
		<div class="aftercontent"><span>Have a question?</span><a class="btn-blue" href="/contacts/">Check contacts</a></div>
	</div>
	<div class="form-simple_wrap">
		<form class="form-simple" action="/php/form-early.php" method="POST" netlify netlify-honeypot="bot-field">
			<input type="text" name="bot-field" style="display:none">
			<span class="form-simple_title">Subscribe for updates</span>
			<input type="hidden" name="formtype" value="form-simple">
			<input type="hidden" name="id" value="" class="uniqid">
			<input type="hidden" name="email_template" value="subscribers">
			<input type="hidden" name="from" value="Amaiz - About Page">
			<input type="hidden" name="form_number" value="1">
			<input class="form-simple_input-suspend" type="hidden" name="suspended" value="true">
			<input class="form-simple_input-email" id="email" type="text" name="email" placeholder="Enter your email">
			<button class="form-simple_btn-submit btn-blue" type="submit">SUBSCRIBE</button>
			<input class="form-simple_input-checkbox form-simple_input-privacy" type="checkbox" id="1">
			<label class="form-simple_label-checkbox form-simple_label-privacy" for="1"><span class="form-simple_label-checkbox_checksign"></span>I understand that by submitting my personal information to Amaiz it is subject to the Amaiz <a href="https://amaiz.com/privacy-policy">Privacy & Cookie Policy</a></label>
			<input class="form-simple_input-checkbox" type="checkbox" id="2">
			<label class="form-simple_label-checkbox form-simple_label-agree" for="2"><span class="form-simple_label-checkbox_checksign"></span>I agree that Amaiz and its group of companies can contact me by email to promote their products and services</label>
		</form>
	</div>

{{end}}