svg(xmlns="http://www.w3.org/2000/svg" width="24" height="66" viewBox="0 0 24 66")
	g(fill="none" fill-rule="evenodd")
		rect(width="21" height="32" x="1.5" y="1.5" stroke="#00A1E4" stroke-width="3" rx="10.5")
		rect(width="1.846" height="7.179" x="11.077" y="8.077" fill="#00A1E4" rx=".923")
		path(fill="#00A1E4" fill-rule="nonzero" d="M11.65 56.562l.004 6.676-2.284-2.104a.62.62 0 0 0-.422-.159.618.618 0 0 0-.42.16l-.355.327a.522.522 0 0 0-.173.386c0 .146.061.284.173.387l3.907 3.606c.112.103.26.16.42.159.159 0 .308-.056.42-.16l3.907-3.605a.522.522 0 0 0 .173-.387.523.523 0 0 0-.173-.386l-.355-.328a.613.613 0 0 0-.418-.159c-.159 0-.3.056-.411.16l-2.297 2.127v-6.707c0-.302-.282-.555-.608-.555h-.502a.578.578 0 0 0-.586.562z")
